@charset "utf-8";
/* CSS Document */

body {
    background-image: url("../img/background.gif"); /* background image */
    color: #444; /* text color for the entire document */
    font-size: 12px;
    font-family: Cambria, sans-serif;
    text-align: center;
    background-color: #f0f0f0; 
    margin: 0; /* Removes default margin for body */
    padding: 0; /* Removes default padding for body */
}

#wrapper {
    width: 80%;
    margin: 0 auto; /* centers wrapper */
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* creates white background with 80% opacity */
    padding: 20px; /* Adds padding inside the wrapper */
}

table {
    width: 100%;
    margin: 0 auto; /* centers table */
    margin-top: 20px;
    border-collapse: collapse; /* Removes gaps between table cells */
}

table, td {
    border: 1px solid #ddd;
}

td {
    text-align: center;
    padding: 10px;
    background-color: white; /* sets background color for table cells */
}

h1, h2 { 
    text-align: center; /* centers h1 and h2 content */
    margin-top: 20px;
}

h1 {
    font-size: 3.5rem !important;
    color: #333333 !important;
}

a {
    padding: 10px 20px; /* Adds padding to links */
    margin: 5px; /* Adds margin between links */
    font-size: 125%;
    background-color: #ff6600; 
    color: #0099cc; 
    text-decoration: none; /* Removes underline from links */
    display: inline-block; /* Ensures links are displayed as blocks */
}

a:hover {
    font-size: 150%;
    background-color: #FFF300; 
    color: #0077aa; 
}

audio { 
    width: 200px; /* sets the width of the audio controls */
}

.centered {
    text-align: center;
    margin-top: 20px;
}

.centered img {
    max-width: 100%; 
    height: auto;
    width: 80%;      
}


img{
    max-width: 100%; /* Ensures images do not exceed the container width */
    height: auto;    /* Maintains aspect ratio */
    width: 80%;      /* Adjust width percentage as needed */
}
